In [1]:
#reading the excel file
import pandas as pd
import numpy as np

from mainP import Main

mn = Main()

file = mn.file

file.head()

,year,population,Population_change,No_Briths_E&W,No_Births_NI,No_Births_S,No_Births_All,Fertility_Rates_%,No_births_male,No_births_female,...,No_deaths_female,Imigration,Emigration,Migration,Migration_rate,EU_Imgration,EU_Emigration,Population_growth,Pop_Growth_rate,Population_growth_all
0,2019,67530172.0,0.005786,640370.0,21758.809008,49863.0,711991.809008,0.010543,369225.636364,349078.409091,...,303167.063083,621000.0,354000.0,267000.0,0.003954,200000.0,141000.0,NaN,NaN,388488.0
1,2018,67141684.0,0.006208,657076.0,22829.000000,51308.0,731213.000000,0.010891,375529.000000,355684.000000,...,311451.000000,625000.0,351000.0,274000.0,0.004081,NaN,NaN,374028.682842,0.005539,414223.0
2,2017,66727461.0,0.006479,679106.0,23075.000000,52861.0,755042.000000,0.011315,387184.000000,367858.000000,...,308226.000000,644000.0,360000.0,284000.0,0.004256,NaN,NaN,389199.000000,0.005797,429517.0
3,2016,66297944.0,0.006647,696271.0,24076.000000,54488.0,774835.000000,0.011687,397707.000000,377128.000000,...,303920.000000,589000.0,340000.0,249000.0,0.003756,NaN,NaN,431870.000000,0.006472,437798.0
4,2015,65860146.0,0.006681,697852.0,24215.000000,55098.0,777165.000000,0.011800,398983.000000,378182.000000,...,309896.000000,631000.0,299000.0,332000.0,0.005041,NaN,NaN,426629.000000,0.006435,437099.0

In [2]:
df = pd.DataFrame(file, columns=['population'])
df.mean().round(1)

population    38535470.6
dtype: float64

In [4]:
file.median(axis=0).round(1)

year                         1910.0
population               39472104.3
Population_change               0.0
No_Briths_E&W              677529.0
No_Births_NI                26130.0
No_Births_S                 89748.0
No_Births_All              782408.3
Fertility_Rates_%               0.0
No_births_male             400215.5
No_births_female           382348.5
No_deaths_EW               503529.0
No_deaths_NI                16313.1
No_deaths_S                 63189.0
All_Deaths                 589416.0
Births_Deaths              214686.0
Mortality_rate                  0.0
No_deaths_male             292886.0
No_deaths_female           294875.0
Imigration                 267500.0
Emigration                 280000.0
Migration                   28386.1
Migration_rate                  0.0
EU_Imgration                59500.0
EU_Emigration               43500.0
Population_growth          279463.2
Pop_Growth_rate                 0.0
Population_growth_all      279024.3
dtype: float64

In [2]:
# create aggregated file 
df = pd.DataFrame(file)
r = df.rolling(window=3, min_periods=1)

agr = (r[['EU_Imgration', 'EU_Emigration']].aggregate(np.sum))

agr.to_excel('./Data/aggre1.xlsx')

In [4]:
#aggregation 

df = pd.DataFrame(file )
r = df.rolling(window=3, min_periods=1)

agr = (r[['EU_Imgration', 'EU_Emigration']].aggregate('mean'))

print(agr.iloc[0:8])

    EU_Imgration  EU_Emigration
0  200000.000000  141000.000000
1  200000.000000  141000.000000
2  200000.000000  141000.000000
3            NaN            NaN
4            NaN            NaN
5  269000.000000   86000.000000
6  266500.000000   87500.000000
7  244666.666667   84333.333333

In [76]:
# sum of three columns
sum = df.apply(lambda x: x['No Briths E&W'] + x['No Births NI'] + x['No Births S'], axis=1)
sum

0      711991.809008
1      731213.000000
2      755042.000000
3      774835.000000
4      777165.000000
           ...
214    321904.767000
215    313253.239008
216    304468.206358
217    295671.987250
218    286799.438933
Length: 219, dtype: float64